<header>
    <div class="nav-back">
        <a class="back"><img src="img/back_arrow.png"/></a>
    </div>
    <h1>{{assessment}}</h1>
</header>
<article class="contents-wrap">
    <h2>{{button_text}}</h2>
    {{#each assessments}}
        <a class="next select-button multiple image" data-subitem="{{title}}">
            <img class="select-thumb" src="img/{{image}}"/>

            <div class="test-name">
                {{title}}
            </div>
            <img class="right-arrow" src="img/right_arrow.png"/>
        </a>
    {{/each}}
</article>